.add-term {
    li {
        .form-group();
        overflow: hidden;

        input,
        textarea {
            box-sizing: border-box;
            .form-control();
            height: auto;
            width: 100%;
        }

        button {
            .btn();
            .btn-default();
            .pull-right();
        }
    }
}