.add-term {
    a {
        .link-type-back();
    }
    .wrapper & ul {

        li {
            .form-group();
            overflow: hidden;
            background: none;
            border: none;

            input,
            textarea {
                box-sizing: border-box;
                .form-control();
                height: auto;
                width: 100%;
            }

            button {
                .btn();
                .btn-default();
                .pull-right();
            }
        }

    }
}