.definitions-wrapper {
    .layout-basic();
    h2 {
		padding: 30px 10px 30px 30px;
		background-color: @blue-subheader;
		color: @white-wheat;
		margin-bottom: 0;
    }
    p {
    	padding: 30px 10px 30px 30px;
    	margin-top: 0;
    	background-color: @white-smoke;
    }
}