.definitions-wrapper {
    box-sizing: border-box;
    .make-row();
    max-width: 760px;
    margin: auto;
    
    .sub-section {
        box-sizing: border-box;
        .make-md-column(10);
        .make-md-column-offset(1);
        padding-left: 0;

        h2 {  
        }
    }

}