<div class="add-term">
    <div class="sub-section">
        <div class="top">
            <a href="/"><span class="back-link"></span>go to wiki</a>
            <h4>Add term</h4>
            <pre>{{addterm.data}}</pre>
        </div>
        <form   
            name="addtermForm"
            ng-submit="addterm.processFrm()"
            novalidate
        >
            <ul>
                <li>
                    <label for="term">Term: </label>
                    <input 
                        type="text" 
                        name="term" 
                        placeholder="Enter term" 
                        ng-model="addterm.data.term" 
                        required
                    >
                </li>
                <li>
                    <label for="definition">Definition: </label>
                    <textarea 
                        name="definition" 
                        cols="30" rows="10" 
                        placeholder="Enter definition" 
                        ng-model="addterm.data.definition" 
                        required
                    ></textarea>
                </li>
                <li>
                    <button 
                        type="submit"  
                        ng-disabled="addtermForm.$invalid"
                    >Submit</button>
                </li>
            </ul>
        </form>
    </div>
</div>